{% extends 'base.html' %}

{% block content %}
    <br><h1>{% block title %} Blog - NC DevOps School {% endblock %}</h1>
    <br>
    {% for post in posts %}
  <div class="row jumbotron bg-light shadow-sm">
    <div class="col-md-8 col-xs-12">
           <span class="badge badge-secondary">{{ post['created'] }}</span>
        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h3>{{ post['title'] }}</h3>
        </a>
<p><a class="btn btn btn-outline-dark" href="{{ url_for('post', post_id=post['id']) }}" role="button">View details »</a></p>

     </div>
    <div class="col-md-4 col-xs-12">
   	<img src="{{ post['image'] }}" class="img-fluid img-thumbnail rounded">
   	
    </div>
 </div>

    {% endfor %}
{% endblock %}
