registry:
  restart: always
  image: registry:2
  ports:
    - {{ port_registry }}:5000
  environment:
    REGISTRY_HTTP_TLS_CERTIFICATE: /certs/{{ crt_filename }}
    REGISTRY_HTTP_TLS_KEY: /certs/{{ key_filename }}
    REGISTRY_AUTH: htpasswd
    REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
    REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
  volumes:
    - ./repo:/var/lib/registry
    - ./certs:/certs
    - ./auth:/auth
